/* TopicsList.css */

.container {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Arial", sans-serif;
}

.list {
    list-style-type: none;
    padding: 0;
}

.list-item {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.list-item:hover {
  background-color: #e6f7ff; /* 호버 시 배경색 변경 (부드러운 파란색) */
  cursor: pointer; /* 호버 시 커서를 포인터로 변경 */
}

.list-item.no-hover:hover {
  background-color: unset; /* depth가 0인 경우 hover 스타일을 적용하지 않음 */
  cursor: default; /* 마우스 커서를 기본으로 변경 */
}

.list-item.selected {
  background-color: #cceeff; /* 선택된 항목의 배경색 변경 */
  color: #003366; /* 선택된 항목의 텍스트 색상 변경 */
  font-weight: bold; /* 선택된 항목의 텍스트를 굵게 */
}

.list-item h2 {
    font-size: 1.8rem;
    color: #0056b3;
    margin-bottom: 5px;
}

.list-item a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.list-item a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.content-wrapper {
  display: flex;
}

.left-panel {
  width: 50%;
  padding: 20px;
}

@media (max-width: 768px) {
  .content-wrapper {
      flex-direction: column;
  }

  .left-panel {
      width: 100%;
  }

  .right-panel {
      display: none; /* 작은 화면에서는 right-panel 숨김 */
  }
}

.right-panel {
  width: 50%;
  padding: 20px;
  background-color: #f0f4f8; /* 부드러운 배경색 */
  border-left: 2px solid #d1d5db; /* 왼쪽 경계선 추가 */
  border-radius: 8px; /* 모서리 둥글게 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

.right-panel h1.title {
  font-size: 1.5em; /* 제목 크기 조정 */
  color: #333; /* 제목 색상 조정 */
  margin-bottom: 15px; /* 제목과 내용 사이 여백 */
}

.component-item {
  padding: 10px; /* 항목 패딩 */
  margin-bottom: 15px; /* 항목 간 여백 */
  background-color: #ffffff; /* 항목 배경색 */
  border: 1px solid #e2e8f0; /* 항목 경계선 */
  border-radius: 5px; /* 항목 모서리 둥글게 */
  transition: all 0.3s ease; /* 부드러운 전환 효과 */
}

.component-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 호버 시 그림자 효과 */
}

.component-title {
  font-weight: bold; /* 제목 두껍게 */
  margin-bottom: 5px; /* 제목과 본문 사이 여백 */
}

.component-description {
  color: #555; /* 본문 색상 조정 */
  font-size: 0.9em; /* 본문 크기 조정 */
  line-height: 1.4; /* 줄 간격 조정 */
}
